---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kinda.rocks
  resources:
  - databases
  - dbinstances
  - dbusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kinda.rocks
  resources:
  - databases/finalizers
  - dbinstances/finalizers
  - dbusers/finalizers
  verbs:
  - update
- apiGroups:
  - kinda.rocks
  resources:
  - databases/status
  - dbinstances/status
  - dbusers/status
  verbs:
  - get
  - patch
  - update
