apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata: {}
rules:
- apiGroups: [""]
  resources: ["secrets", "configmaps"]
  verbs: ["get"]
- apiGroups: ["kinda.rocks"]
  resources: ["databases"]
  verbs: ["get"]
