name: Validate commits

on: pull_request

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: |-
          git remote show
          git checkout main
          git pull
          git checkout $GITHUB_HEAD_REF
          cp ./.github/conventional_commit_comment.md pr_comment.md

          pattern='^(build|chore|ci|docs|feat|fix|perf|refactor|revert|style|test)(\([a-z]+\))?!?: .+$'
          for commit in $(git log --format="%H" main..); do
            message=$(git show -s --format=%s  $commit)
            if [[ $message =~ $pattern ]]; then
              echo "- $commit - $message" >> pr_comment.md
              touch found
            fi
          done 
      - uses: andstor/file-existence-action@v3
        id: check_files
        with:
          files: "found"
      - name: PR comment with file
        if: steps.check_files.outputs.files_exists == 'true'
        uses: thollander/actions-comment-pull-request@v3
        with:
          file-path: ./pr_comment.md
