name: Comment PR

on:
  workflow_call:
    inputs:
      pr_number:
        required: true
        type: string
      message:
        required: true
        type: string
jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: PR comment
        uses: thollander/actions-comment-pull-request@v3
        with:
          pr-number: ${{ inputs.message }}
          message: ${{ inputs.message }}
